.discover-main-section {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-grow: 1;
}

.movie-section {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
}

.movie-section .img-wrapper {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    min-width: 25vw;
    min-height: 15vw;
    align-items: center;
    margin-right: 2rem;
    margin-bottom: 1rem;
    justify-content: center;
    border-radius: 1rem;
    border: 1rem solid #008325; /* Set the desired border width and color */
    background-size: auto 110%;
    background-repeat: no-repeat;
    background-position: center;
}


.movie-section .img-wrapper .play-button {
    width: 60px;
    height: 60px;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.movie-section .img-wrapper .play-button::before {
    content: "";
    top: 50%;
    position: center;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent #333;
}

.movie-section .img-wrapper .play-button:hover {
  background-color: #ebebeb;
}


.movie-section .img-wrapper .movie-title-button {
    position: absolute;
    bottom: 28vh;
}

.movie-section .img-wrapper .movie-title-button .movie-title {
    margin-top: 10px; /* Adjust the spacing as needed */
    font-size: 16px; /* Adjust the font size as needed */
    color: black; /* Adjust the color as needed */
}






.home-page-circle-1 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: rgba(0, 131, 37, 0.1);
    bottom: 5vw;
    left: 5vw;
    z-index: -1;
}

.home-page-circle-2 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: rgba(0, 131, 37, 0.1);
    top: 5vw;
    right: 10vw;
    z-index: -1;
}


.home-page-circle-3 {
    position: absolute;
    overflow: hidden;
    width: 35vw;
    height: 35vw;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.home-page-circle-3::before {
    content: '';
    transform: translate(40%, 40%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(0, 131, 37, 0.1);
}

