<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/static/figma_style.css" rel="stylesheet">
    <link href="/static/discover.css" rel="stylesheet">
    <title>INDYcs</title>
</head>
<body class="full-height-grow">
    <div class="container full-height-grow">
        <header class="main-header">
            <a href="/" class="brand-logo">
                <img src="/static/images/indycs_logo.png">
                <div class="brand-logo-name">INDYcs</div>
            </a>
            <nav class="main-nav">
                <ul>
                    <li><a href="/templates/auth/login.html">Login</a></li>
                    <li><a href="/templates/auth/register.html">Register</a></li>
                </ul>
            </nav>
        </header>
        <section class="discover-main-section">
            <div class="call-to-action">
                <h1 class="subtitle">Watch your favourite content as you've never done before</h1>
            </div>
        </section>
        <section class="movie-section">
            <div class="img-wrapper" style="background-image: url('../static/images/iron_man_vs_loki.png')">
                <a class="play-button" href="movie_view.html?movie={{movies[0]['title']}}"></a>
                <a class="movie-title-button">
                    <h5>{{movies[0]['title'].replace("_", " ")}}</h5>
                </a>
            </div>
            <div class="img-wrapper" style="background-image: url('../static/images/avengers_age_of_ultron.png')">
                <a class="play-button" href="movie_view.html?movie={{movies[1]['title']}}"></a>
                <a class="movie-title-button">
                    <h5>{{movies[1]['title'].replace("_", " ")}}</h5>
                </a>
            </div>
            <div class="img-wrapper" style="background-image: url('../static/images/inception.png')">
                <a class="play-button" href="movie_view.html?movie={{movies[2]['title']}}"></a>
                <a class="movie-title-button">
                    <h5>{{movies[2]['title'].replace("_", " ")}}</h5>
                </a>
            </div>
        </section>
    </div>
    <div class="home-page-circle-1"></div>
    <div class="home-page-circle-2"></div>
    <div class="home-page-circle-3"></div>
</body>
</html>