{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Movies{% endblock %}</h1>
{% endblock %}



{% block content %}
  {% for movie in movies %}
    <article class="movie">
      <header>
        <div>
            <h1>{{ movie['title'].replace("_"," ") }}</a></h1>
            <form action="select_movie" method="post">
            <input type="hidden" name="title" id="title" value="{{url_for('static', filename='/uploads/'+movie['title']+'.mp4')}}">
            <input type="submit" value="Show movie">
            </form>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}