{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Movies{% endblock %}</h1>
{% endblock %}



{% block content %}
  {% for movie in movies %}
    <article class="post">
      <header>
        <div>
            <h1><a href="{{ url_for('static', filename='/uploads/'+movie['title']+'.mp4') }}">{{ movie['title'] }}</a></h1>
            <form action="show_movie" method="post">
            <input type="hidden" name="title" id="title" value="{{ url_for('static', filename='uploads/'+movie['title']+'.mp4') }}">
            <input type="submit" value="Show movie">
            </form>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}