<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/static/figma_style.css" rel="stylesheet">
    <link href="/static/discover.css" rel="stylesheet">
    <title>INDYcs</title>
</head>
<body class="full-height-grow">
    <div class="container full-height-grow">
        <header class="main-header">
            <a href="/" class="brand-logo">
                <img src="/static/images/indycs_logo.png">
                <div class="brand-logo-name">INDYcs</div>
            </a>
            <nav class="main-nav">
                <ul>
                    <li><a href="/templates/auth/login.html">Login</a></li>
                    <li><a href="/templates/auth/register.html">Register</a></li>
                </ul>
            </nav>
        </header>
        <div id="video_div" style="position: relative; width: 100%; height: 100%; ">
            <h4>{{title.replace('_',' ')}}</h4>
            <video id="video_id" src="{{url_for('static', filename='/uploads/'+title+'.mp4')}}" height = "100%" width="100%" controls></video>
            <script>
                let video = document.getElementById('video_id');
                let boundingBoxes = [];
                video.addEventListener('pause', function() {
                    let currentTime = video.currentTime;
                    let height = document.getElementById('video_div').clientHeight;
                    let width = document.getElementById('video_div').clientWidth;

                    let videoHeight = document.getElementById("video_id").videoHeight;
                    let videoWidth = document.getElementById("video_id").videoWidth;
                    //console.log('Current frame:', currentFrame);
                    //console.log('Title:', '{{title}}')


                    console.log("Video height: " + videoHeight, "Video width: " + videoWidth);
                    fetch('/pause_video', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            'title': '{{title}}',
                            'time': currentTime,
                            'height': height,
                            'width': width,
                        })
                    }).then(response => response.json())
                        .then((data) => {
                            console.log("Bounding boxes found " +data.bounding_boxes);
                            //console.log("Number of bounding boxes " +data.bounding_boxes.length.toString());
                            for(let i = 0; i < data.bounding_boxes.length; i++) {
                                let bounding_box = data.bounding_boxes[i];
                                console.log(bounding_box);
                                let overlay_string = document.createElement('div');
                                let link = document.createElement('a');
                                link.href = data.links[i];
                                link.innerText = data.items[i];
                                overlay_string.appendChild(link);
                                overlay_string.setAttribute('id', 'overlay_string_'+i.toString());
                                link.style.color = 'red';
                                link.style.fontSize = '18px';
                                overlay_string.style.fontWeight = 'bold';
                                overlay_string.style.position = 'absolute';
                                // compute the position to place the string
                                let topValue = (parseInt(bounding_box[1]) + parseInt(bounding_box[3])*0.5).toString() + "px";
                                let leftValue = (parseInt(bounding_box[0]) + parseInt(bounding_box[2])*0.5).toString() + "px";
                                //console.log(topValue, leftValue);
                                overlay_string.style.top = topValue;
                                overlay_string.style.left = leftValue;
                                overlay_string.style.zIndex = "1";
                                //overlay_string.innerText = "black t-shirt";
                                overlay_string.style.display = 'block';
                                video.parentElement.appendChild(overlay_string);
                                boundingBoxes.push(overlay_string);

                                link.addEventListener('click', function(event) {
                                    event.preventDefault(); // Prevent the default link behavior
                                    const url = link.getAttribute('href');
                                    window.open(url, '_blank');
                                })
                            }
                        }).catch(error => console.error(error));
                });
                video.addEventListener('play', function() {
                    let numberOfBoundingBoxes = boundingBoxes.length;
                    for(let i = 0; i < numberOfBoundingBoxes; i++) {
                        let overlay_string = document.getElementById('overlay_string_'+i.toString());
                        overlay_string.remove();
                        boundingBoxes.pop();
                    }
                });
                video.addEventListener('fullscreenchange', function () {
                });
            </script>
        </div>
    </div>
    <div class="home-page-circle-1"></div>
    <div class="home-page-circle-2"></div>
    <div class="home-page-circle-3"></div>
</body>
</html>