{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Movie{% endblock %}</h1>
{% endblock %}

{% block content %}
    <body>
    <video id="video_id" src="{{url_for('static', filename='/uploads/'+title+'.mp4')}}" height = "100%" width="100%" controls></video>
    <script>
        let video = document.getElementById('video_id');
        let isPaused = video.paused;
        if (isPaused) {
            video.addEventListener('pause', function() {
            let currentFrame = video.currentTime * 24;
            console.log('Current frame:', currentFrame);
            fetch('/pause_video', {
                method: 'POST',
                body: JSON.stringify({
                    'title': '{{title}}',
                    'current_frame': currentFrame
                })
            }).then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error(error));
        })}
    </script>
    </body>
{% endblock %}


