{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{title.replace("_", " ")}}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <body>
    <div id="video_div" style="position: relative; width: 100%; height: 100%; ">
    <video id="video_id" src="{{url_for('static', filename='/uploads/'+title+'.mp4')}}" height = "100%" width="100%" controls></video>
    <script>
        let video = document.getElementById('video_id');
        let boundingBoxes = [];
        video.addEventListener('pause', function() {
            let currentTime = video.currentTime;
            let height = document.getElementById('video_div').clientHeight;
            let width = document.getElementById('video_div').clientWidth;

            let videoHeight = document.getElementById("video_id").videoHeight;
            let videoWidth = document.getElementById("video_id").videoWidth;
            //console.log('Current frame:', currentFrame);
            //console.log('Title:', '{{title}}')


            console.log("Video height: " + videoHeight, "Video width: " + videoWidth);
            fetch('/pause_video', {
                method: 'POST',
                headers: {
                        'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'title': '{{title}}',
                    'time': currentTime,
                    'height': height,
                    'width': width,
                })
            }).then(response => response.json())
                .then((data) => {
                    console.log("Bounding boxes found " +data.bounding_boxes);
                    //console.log("Number of bounding boxes " +data.bounding_boxes.length.toString());
                    for(let i = 0; i < data.bounding_boxes.length; i++) {
                        let bounding_box = data.bounding_boxes[i];
                        console.log(bounding_box);
                        let overlay_string = document.createElement('div');
                        let link = document.createElement('a');
                        //link.href = "https://www.emp-online.it/p/us-tour-%2778/234630.html?forceThisShop=1&wgu=270765_116019_16782911911272_3bedf06700&wgexpiry=1709827191&wt_mc=pt.webgains.116019..49483.0.";
                        link.href = data.links[i];
                        link.innerText = data.items[i];
                        overlay_string.appendChild(link);
                        overlay_string.setAttribute('id', 'overlay_string_'+i.toString());
                        link.style.color = 'red';
                        link.style.fontSize = '18px';
                        overlay_string.style.fontWeight = 'bold';
                        overlay_string.style.position = 'absolute';
                        // compute the position to place the string
                        let topValue = (parseInt(bounding_box[1]) + parseInt(bounding_box[3])*0.5).toString() + "px";
                        let leftValue = (parseInt(bounding_box[0]) + parseInt(bounding_box[2])*0.5).toString() + "px";
                        //console.log(topValue, leftValue);
                        overlay_string.style.top = topValue;
                        overlay_string.style.left = leftValue;
                        overlay_string.style.zIndex = "1";
                        //overlay_string.innerText = "black t-shirt";
                        overlay_string.style.display = 'block';
                        video.parentElement.appendChild(overlay_string);
                        boundingBoxes.push(overlay_string);

                        link.addEventListener('click', function(event) {
                            event.preventDefault(); // Prevent the default link behavior
                            const url = link.getAttribute('href');
                            window.open(url, '_blank');
                        })
                    }
                }).catch(error => console.error(error));
            });
        video.addEventListener('play', function() {
            let numberOfBoundingBoxes = boundingBoxes.length;
            for(let i = 0; i < numberOfBoundingBoxes; i++) {
                let overlay_string = document.getElementById('overlay_string_'+i.toString());
                overlay_string.remove();
                boundingBoxes.pop();
            }
        });
        video.addEventListener('fullscreenchange', function () {
           });
    </script>
    </div>
    </body>
{% endblock %}


